.container {
    height: 250px;
    border: 1px solid gray;
    width: 300px;
}

.cakap-logo {
    height: 100px;
}

.button-div {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.show-button {
    padding: 10px 30px;
}